@model RegisterModel
@{
	ViewData["Title"] = "Register";
}


<form asp-controller="Register" asp-action="TryRegister">
    @if(Model.emailError != null)
    {
        <span>@Model.emailError</span>
    }

    <label>Email</label>
    <br/>
    <input type="text" asp-for="email" />
    <br />
    <label>Password</label>
    <br />
    <input type="password" asp-for="password" />
    <br />
    <label>Name</label>
    <br />
    <input type="text" asp-for="name" />
    <br />
    <input type="submit" value="Register"/>
</form>