@using Shizzle.Structures
@using Shizzle.Factory
@model UserModel
@{
    ViewData["Title"] = $"\"{Model.user.name}\"";
}

<h3>@Model.user.name</h3>
<p>@Model.user.biography</p>

<div>
    @foreach(IPost post in Model.posts)
    {
        <div>
            <a href="/post?id=@post.id">@post.title</a>
            <span>Posted at @post.date</span>
        </div>
    }

</div>