@using Shizzle.Structures
@using Shizzle.Factory
@model UserModel
@{
    ViewData["Title"] = $"\"{Model.user.name}\"";
}

<h1>@Model.user.name</h1>
<p>@Model.user.biography</p>

<div>
    @foreach(IPost post in Model.posts)
    {
        <div>
            <h2>@post.title</h2>
            <h3>@post.date</h3>
        </div>
    }

</div>